fastapi
uvicorn
scikit-learn
pandas
numpy<2
pydantic
python-dotenv
cryptography
joblib
matplotlib
seaborn
python-multipart
scipy
liac-arff
scapy
fpdf2
requests
opencv-python-headless
pytesseract
Pillow
psutil
GPUtil
