@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0c10;
}

::-webkit-scrollbar-thumb {
    background: #1a1f29;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242b3a;
}